* {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body {
    background: #f7f7f7;
    margin: 0 auto;
    padding: 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2rem;
}

.home-wrapper {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    padding: 1rem;
}

nav a {
    margin-right: 1rem;
}

.nav-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    margin: 0;
    font-size: 200%;
}

h3 {
    opacity: .8;
}

h4 {
    margin: 0;
}

h5 {
    margin-bottom: 0;
}

p {
    font-size: 16px;
    margin-top: .25rem;
    opacity: .8;
}

a {
    color: #4a74af;
}

img {
    max-width: 100%;
    border-radius: 2px;
}

.home-box {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 2px;
}

.blog-box {
    width: 100%;
    margin: 1rem 0;
    padding: 0rem 2rem;
    background: #f5f5f5;
    border-radius: 2px;
}

.box {
    max-width: 960px;
    max-height: 400px;
    margin: 0 auto;
    background: #f5f5f5;
    border-radius: 2px;
}
